*{
    margin: 0;
    padding: 0;
    position: relative;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    background: url('../img/fundo.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    display:  flex;
    justify-content: center;
    align-items: center;
}
#container-login{
    background: #EFDDFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    height: 590px;
    width: 400px;
    
    border-radius: 5px;
}
.conteudo{
    width: 100%;

}
#logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#corpo-logo{
    margin-top: 50px;
    width: 150px;
}
#formularioLogin{  
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#formulario{
    display:  flex;
    justify-content: flex-start;
    padding-left: 100px;
    align-items: center;
    width: 50%;
    height: 100%; 
    margin-top: 60px;  
}

#formLogin{
    width: 330px;
	
}
.corpo-input{
    position: relative;
}
#input{
    margin: 0 0 30px 0;
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 0 10px 40px;
    width: 100%;
 }
 .incone{
     color: rgb(95, 95, 95);
     position: absolute;
     z-index: 2;
     left: 0;
     transform: translateX(13px) translateY(13px);
 }
 #tbn-login{
     margin-top: 20px;
     width: 100%;
     background: #720194;
     border: none;
 }
 #titulo{
    
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 70px;
    margin-left: 20px;
    text-align: center;
 }